[user]
	name = xxxx
	email = xxxx

[alias]
        co = commit -am
        ch = checkout
        st = status
        br = !sh -c 'git push origin HEAD:refs/heads/$1 && git checkout -t origin/$1' -
     graph = log --graph
[core]
	editor = /usr/bin/vim
